<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect all requests to the index.html file
  RewriteBase /
  RewriteRule ^index\.html$ - [L]

  # Handle front-end routes
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>